
<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <h2>Wraxall Show Information</h2>
        </div>
        <div class="col-md-10">
            <p>
                Once again Clifton and Severnside Agility Club we will be holding our annual show at the Wraxall Showground. There will be measuring at the show as in previous years. For more information and recommended directions check out this page.
            </p>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default btn-info" href="#">More info... <b class="glyphicon glyphicon-triangle-right"></b></a>
        </div>
    </div>
</div>