

<div class="well clone-header">
    <div class="row ">
        <div class="pull-right header-actions">
            <a class="clone-edit btn" alt="Edit Dog"><i class="glyphicon glyphicon-edit"></i></a>
            <a class="clone-remove btn" alt="Delete Dog"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
        <div class="col-xs-10 members-dog-top">
            <ul class="list-inline">
                <li>
                    <b><a id="pet-name"></a></b>
                </li>
                <li id="pet-kcname">
                </li>
                <li id="pet-breed">
                </li>
            </ul>
        </div>
    </div>
</div>