@{
    ViewBag.Title = "";
    ViewBag.HeaderText = "Friendly agility training for Bristol, Somerset and surrounding areas.";
}

@Html.Partial("_WraxallShowBanner")

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>We are friendly, KC registered, club run by a bunch agility enthuisiasts. We are based in North Somerset and cover all surrounding areas.</p>
        <p>
            <a class="btn btn-success" href="@Url.Action("About", "Home")">
                Learn More<span class="glyphicon glyphicon-info-sign"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Membership</h2>
        <p>
            Looking to start agility with your dog, or would to join with your existing agility dog. Whether you just want to train for fun, or for competition, get in contact with us. 
        </p>
        <p>
            <a class="btn btn-success" href="@Url.Action("Index", "Membership")">
                Membership<span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Where Are We</h2>
        <p>Looking for our venue? We are based in Chelvey, North Somerset. For full details, including our address, directions and maps, go here.</p>
        <p>
            <a class="btn btn-success" href="@Url.Action("OurVenue", "Home")">
                Find Us<span class="glyphicon glyphicon-globe"></span>
            </a>
        </p>
    </div>
</div>
<div class="row">
    
</div>