
<h2>Thanks, but no thanks</h2>

<p>
    We will never buy or accept offers from any unknown source. If you contacting us through our site, you are an unknown source. If you know us, come speak to us, we are a very friendly bunch.
</p>