body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

header {
    background-image: url(images/agility-tunnel.png);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-y: visible;
}

.clublogo {
    background-image: url(images/clublogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
}

@media (max-width: 992px) {
    .clublogo {
        height: 183px;
    }
}

@media (min-width: 992px) {
    .clublogo {
        height: 233px;
    }
}

.btn .glyphicon {
    font-size: 18px;
    vertical-align: sub;
    margin: 0 10px;
}

.jumbotron h1 {
    font-weight: 800;
}

.navbar-brand-link {
    margin-left: -25px;
}

.navbar, .content {
    min-width: 300px;
}

.menulink {
    margin-top: -60px;
    padding-top: 60px;
}

