
<div class="col-lg-12">
    <h2>The Club</h2>
</div>
<div class="col-md-6">
    <img alt="" src="@Url.Content("~/Content/images/ClubMembers.jpg")" class="img-responsive center-block" />
</div>
<div class="col-md-6">
    <p>
        We are a team based in and around Bristol in the South West of England. We've been running our dogs in Flyball now since 1996. We currently have around 20 members and 20 competing dogs along with various other retired, starter and baby dogs!
    </p>
    <p>
        We are a competitive team who aim to train our dogs positively and consistently to get the best out of them. We compete most weekends through the Summer usually traveling to the Midlands or somewhere off of the M4 corridor. We are a friendly bunch who enjoy the social aspect of flyball nearly as much as the racing! We have a fastest ever time of 16.49secs which put us 3rd fastest team in the country and 3rd at the British Flyball Championships in 2011.
    </p>
</div>
<div class="col-sm-12">
    @Html.Action("FastestTimes");
</div>