<div class="well">
    <h2>Membership Form</h2>
    <p>Looking to join the club? The new members form can be found here...</p>
    <p>
        <a class="btn btn-success" href="@Url.Action("Index", "Membership")">
            New Members<span class="glyphicon glyphicon-user"></span>
        </a>
    </p>
</div>