@using CliftonAgility.Helpers
<div class="well">
    <h2>Email Us</h2>
    <p>
        Prefer to send us an email?
    </p>
    <address>
        <strong>Information/Comments:</strong><br /><a href="mailto:@EmailAddresses.Information">@EmailAddresses.Information</a>
        <br />
        <strong>Membership Questions:</strong><br /><a href="mailto:@EmailAddresses.Membership">@EmailAddresses.Membership</a>
    </address>
</div>
