
<footer class="panel-footer text-invert navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="pull-left">
                <p>Copyright &copy; @DateTime.Now.Year - Bristol Ball-istics Flyball Club</p>
            </div>
        </div>
    </div>
</footer>